:root {
  --toc-text-color: #383838d0;
  --toc-font-weight: 600;
}

.reark-toc {
  display: inline-block;
  border-radius: 12px;
  font-size: 15px;
  color: var(--toc-text-color, gray);
  font-weight: var(--toc-font-weight, bold);

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  @media (max-width: 600px) {
    & {
      max-width: 100%;
      padding: 12px 8px;
      font-size: 14px;
    }
  }
}

.reark-toc__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  position: relative;

  > details {
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;

    > summary {
      cursor: pointer;
      font-weight: var(--toc-font-weight, bold);
      border-radius: 6px;
      user-select: none;
      list-style: none;
      position: relative;
      display: inline-block;
      outline-offset: 2px;
      color: var(--toc-text-color, gray);

      &::-webkit-details-marker {
        display: none;
      }

      &:before {
        content: "";
        position: absolute;
        left: -16px;
        top: 50%;
        transform: translateY(-50%) rotate(0deg);
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 7px solid rgba(0, 86, 179, 0.5);
        opacity: 0;
        transition:
          transform 0.2s,
          opacity 0.15s,
          border-left-color 0.2s;
        pointer-events: none;
      }
    }

    &[open] > summary {
      &::before {
        border-left: 7px solid rgba(0, 86, 179, 0.5);
        transform: translateY(-50%) rotate(90deg);
      }
    }

    > summary:hover:before,
    > summary:focus-visible:before {
      opacity: 1;
    }
  }

  > a,
  > details > summary > a {
    display: flex;
    align-items: center;
    display: inline-block;
    padding: 4px 0px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: var(--toc-font-weight, bold);
    color: var(--toc-text-color, gray);
  }
}

.reark-toc__item--level1 {
  > details > summary,
  > a {
    padding-left: 12px;
    font-size: 1.05em;
    font-weight: var(--toc-font-weight, bold);
  }
  > details > summary:before {
    left: 0px;
  }
}
.reark-toc__item--level2 {
  > details > summary,
  > a {
    padding-left: 28px;
    font-size: 1em;
  }
  > details > summary:before {
    left: 16px;
  }
}
.reark-toc__item--level3 {
  > details > summary,
  > a {
    padding-left: 44px;
    font-size: 0.98em;
  }
  > details > summary:before {
    left: 32px;
  }
}
.reark-toc__item--level4 {
  > details > summary,
  > a {
    padding-left: 60px;
    font-size: 0.96em;
  }
  > details > summary:before {
    left: 48px;
  }
}
.reark-toc__item--level5 {
  > details > summary,
  > a {
    padding-left: 76px;
    font-size: 0.95em;
  }
  > details > summary:before {
    left: 64px;
  }
}
.reark-toc__item--level6 {
  > details > summary,
  > a {
    padding-left: 92px;
    font-size: 0.94em;
  }
  > details > summary:before {
    left: 80px;
  }
}
.reark-toc__item--level7 {
  > details > summary,
  > a {
    padding-left: 108px;
    font-size: 0.93em;
  }
  > details > summary:before {
    left: 96px;
  }
}
.reark-toc__item--level8 {
  > details > summary,
  > a {
    padding-left: 124px;
    font-size: 0.92em;
  }
  > details > summary:before {
    left: 112px;
  }
}
.reark-toc__item--level9 {
  > details > summary,
  > a {
    padding-left: 140px;
    font-size: 0.91em;
  }
  > details > summary:before {
    left: 128px;
  }
}
